<?php TPL::output('install/header.tpl.htm'); ?>

<div class="aw-mod-body">
	<dl>
		<dt>• <?php _e('Сбой обновления'); ?></dt>
		<dd><?php _e('Процесс обновления может иметь некоторые проблемы'); ?></dd>
	</dl>
	<div class="error">
		<p><?php echo $this->sql_error; ?></p>
	</div>
	<ul>
		<li>
			<b><?php _e('Как решить'); ?></b><span><?php _e('Вы можете при необзоходимом навыке все поставить вручную. Залить mysql и т.д.'); ?>, <a href="<?php echo base_url(); ?>/<?php echo G_INDEX_SCRIPT; ?>upgrade/sql/<?php echo $this->version; ?>" target="_blank"><?php _e('从这里下载 SQL 文件'); ?></a></span>
		</li>
	</ul>
</div>


<?php TPL::output('install/footer.tpl.htm'); ?>
