<?php TPL::output('install/header.tpl.htm'); ?>

<div class="aw-mod-body">
	<dl>
		<dt>• <?php _e('Обновление версии'); ?></dt>
		<dd><?php _e('Обновление доступно от версии > 1.0.2.'); ?><br /><strong style="color:orange"><?php _e('Процесс обновления может быть медленным, пока обновление не будет успешным, не закрывайте браузер!'); ?></strong></dd>
	</dl>
	<ul>
		<li>
			<b><?php _e('релиз данных'); ?></b><span><?php echo $this->db_version; ?></span>
		</li>
		<li>
			<b><?php _e('Версия программы'); ?></b><span><?php echo G_VERSION; ?> Build <?php echo G_VERSION_BUILD; ?></span>
		</li>
	</ul>

	<a class="btn btn-success pull-right" onclick="window.location = '<?php echo base_url(); ?>/<?php echo G_INDEX_SCRIPT; ?>upgrade/run/<?php echo TIMESTAMP; ?>'; this.className='btn btn-success disabled pull-right'; this.onclick=''; return false;">
		<?php _e('Следующий шаг'); ?></a>
</div>

<?php TPL::output('install/footer.tpl.htm'); ?>
