<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div class="aw-register-box aw-find-pwd">
	<div class="mod-head">
		<a href=""><img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_logo.png" alt="" /></a>
		<h1><?php _e('Электронная почта проверка'); ?></h1>
	</div>
	<div class="mod-body">
		<p>
			<?php _e('Благодарим Вас за регистрацию! Ссылка была отправлена на ваш почтовый ящик'); ?> <b><?php echo $this->email; ?></b> <a onclick="$('#modify_email_form').show(); $('#send_valid_mail').hide();" class="font-size-12"><?php _e('Изменить Email'); ?></a><br/>
			<form id="modify_email_form" action="account/ajax/modify_unvalid_email/" class="form-inline collapse" onsubmit="return false" method="post">
				<div class="form-group">
			    	<input type="text" class="form-control" name="email" />
			  	</div>
				<a class="btn btn-primary" onclick="AWS.ajax_post($('#modify_email_form'))"><?php _e('Отправить подтверждение'); ?></a>
			</form>
		</p>
		<p id="send_valid_mail"><a href="javascript:;" onClick="AWS.ajax_request(G_BASE_URL + '/account/ajax/send_valid_mail/');"><?php _e('Отправить еще раз'); ?></a></p>
	</div>
	<div class="mod-footer">
		<p><b><?php _e('Если вы не получили письмо с подтверждением, то проверьте папку спам') ?></b></p>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
